body{
    background-color: rgb(249,249, 249);
}
.container{
    margin: 40px;
}

html{
    font-family:"Product Sans", serif;
}

.how{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.what-do-you-want{
    margin: auto;
    width: 550px;
    height: 37px;
    padding: 40px;
    text-align: center;
    font-size: smaller;
}

.department{
    float: left;
    width: 253px;
    background-color: mediumpurple;
    border: 1px solid mediumpurple;
    padding: 10px;
    display: inline-block;
    color: #fff;
}

.property{
    float: left;
    width: 253px;
    border: 1px solid mediumpurple;
    padding: 10px;
    display: inline-block;
    color: mediumpurple;
}

.carousel-images-department{
    margin: auto;
    width: 830px;
    height: 385px;
    font-size: 15px;
    color: RGB(74, 74, 74 );
}

.department-container{
    float: left;
    width: 266px;
    height: 385px;
    margin: 5px;
    border-radius: 2.5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    background-color: #FFF;
}

.department-items{
    padding: 20px 15px 0;
    text-align: left;
}

.items-title{
    width: 230px;
    height: 20px;
    font-size: larger;
    margin-bottom: 15px;
    color: mediumpurple;
    font-weight: bold;
}

.items-text{
    width: 230px;
    height: 160px;
}

.visit-image{
    width: 86%;
    margin: auto;
}

.apply-image{
    width: 92%;
    margin: auto;
}

.pull-apart-image{
    width: 88%;
    margin: auto;
}

image{
    overflow: hidden;
    position: absolute;
}